[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/SDL2_image"]
	path = external/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/SDL2_ttf"]
	path = external/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule ".\\external\\freetype"]
	path = .\\external\\freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
