[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/Semphriss/SDL.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/SDL2_image"]
	path = external/SDL2_image
	url = https://github.com/Semphriss/SDL_image.git
[submodule "external/SDL2_ttf"]
	path = external/SDL2_ttf
	url = https://github.com/Semphriss/SDL_ttf.git
[submodule "external/squirrel"]
	path = external/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/Semphriss/physfs.git
